.daredevilContent {
	width: 100vw;
	height: 100vh;
	background: url("./img/daredevil.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: grid;
	grid-template-columns:
		[c1] 150px [c2] 640px [c3] 1fr [c4];
	grid-template-rows:
		[r1] 200px [r2] 360px [r3] 1fr [r4];

  iframe {
    width: 640px;
    height: 360px;
    grid-column: [c2]/[c3];
    grid-row: [r2]/[c3];
    transition: opacity 0.35s ease-in-out;
    box-shadow: 0 0 100px #E32800;
  }

}
