.lukeContent {
  width: 100vw;
  height: 100vh;
  background: url("./img/luke.jpg");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns:
    [c1] 100px [c2] 640px [c3] 1fr [c4];
  grid-template-rows:
    [r1] 250px [r2] 360px [r3] 1fr [r4];

  span {
    width: 100%;
    height: 100%;
    grid-column: [c2]/[c3];
    grid-row: [r2]/[c3];

    iframe {
      box-shadow: 0 0 100px #FFCA18;
    }
  }
}
