.jessicaContent {
  width: 100vw;
  height: 100vh;
  background: url("./img/jessica.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns:
    [c1] 1fr [c2] 640px [c3] 150px [c4];
  grid-template-rows:
    [r1] 250px [r2] 360px [r3] 1fr [r4];

  iframe {
    width: 640px;
    height: 360px;
    grid-column: [c2]/[c3];
    grid-row: [r2]/[c3];
    transition: opacity 0.35s ease-in-out;
    box-shadow: 0 0 100px #C806C8;
  }
}
